@charset "UTF-8";
  
html,body,h1,form,fieldset,legend,ul,li {
	margin: 0;
	padding: 0;
}

body {
	background: #ffffff;
	color: #111111;
	padding: 20px;
}

div.page {
	position: relative;
	background: #FF9933;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 10px 20px 20px 20px;
	max-width: 600px;
    min-width: 400px;
	margin: auto;
}

form fieldset {
	background: rgba(255, 255, 255, .3);
	border-color: rgba(255, 255, 255, .6);
	border-style: solid;
	border-width: 2px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	line-height: 30px;
	list-style: none;
	padding: 5px;
	margin-bottom: 2px;
}

form fieldset:last-of-type {
	margin-bottom: 0;
}

form legend, header {
	font-size: 16px;
	font-weight: bold;
	color: white;
	text-shadow: 1px 1px 3px black;
	padding-left: 2px;
	padding-right: 2px;
}

header, h1 {
	color: white;
	text-shadow: 1px 1px 3px black;
	text-align : center;
	font-size: large;
}

article {
	color: white;
	text-shadow: 1px 1px 5px black;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

section {
	margin-top: 25px;
	margin-left: auto;
	margin-right: auto;
	width: 280px;	
	display: table;
}

article ul.decale {
	margin-left: 40px;
}

article li {
	text-align: left;
}

form ul li {
	line-height: 30px;
	list-style: none;
	padding: 5px 10px;
	margin-bottom: 2px;
}

form label {
	color: white;
	text-shadow: 1px 1px 5px black;
	float: left;
	width: 33%;
	box-sizing: border-box;
}

form select,form input,form textarea {
	background: #ffffff;
	border: none;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	height: 25px;
	padding-left: 5px;
    padding-right: 5px;
    box-sizing: border-box;
	width: 67%;
}

form textarea {
	padding-left: 5px;
	padding-right: 5px;
	height: 100px;
	min-height: 50px;
	resize: vertical;
	box-sizing: border-box;
	width: 100%;
}

li.boutonSeulement, .lienSeulement {
	text-align: center;
}

form button, .asButton {
	white-space: nowrap;
	min-width: 110px;
	min-height: 30px;
	background: #B0B0FF;
	border: none;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	box-shadow: 1px 1px 5px black;
	transition : background-color 0.2s ease 0s; 
	padding : 0px;
}

.asButton {
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 12px;
	padding-right: 12px;
	text-shadow: none;
	text-decoration: none;
	color: black;
}

form button:hover, .asButton:hover {
	transition : background-color 0.2s ease 0s; 
	background: #A0F0A0;
}

form button:active, .asButton:active {
	box-shadow: none;
}

.asButton:active {
	color: black;
}

form button:disabled {
	transition : background-color 0.2s ease 0s; 
	background: #B0B0B0;
	box-shadow: none;
}

form button:disabled:hover {
	transition : background-color 0.2s ease 0s; 
	background: #F0A0A0;
}

.valide {
	position:fixed;
    bottom:0px;
    right:0px;
    margin-bottom:0px;
    margin-right:0px;
}